.header-container {
    background-color: #1bd4cb;
    padding: 20px;
    text-align: center;
  }
  

  .option-container {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: #1bd4cb;
  }
  

  #type-dropdown {
    padding: 10px;
    margin-bottom: 10px;
  }
  

  #submit-button {
    background-color: #ff95de;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  

  .card-container {
    list-style-type: none;
    padding: 0;
  }
  

  .card-container li {
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: #ffffff;
  }
  
 
  